<% if (typeof errors != 'undefined') { %>
    <% errors.forEach((error) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-exclamation-triangle"></i></strong> <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }) %>
<% } %>

<% if (error != '') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fas fa-exclamation-triangle"></i></strong> <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (updateSuccess_msgs != '') { %>
    <% updateSuccess_msgs.forEach((success) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-exclamation-triangle"></i></strong> <%= success.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }) %>
<% } %>

<% if (updateErrors_msgs != '') { %>
    <% updateErrors_msgs.forEach((error) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-exclamation-triangle"></i></strong> <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }) %>
<% } %>