<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-2 mr-1" href="/">STEM Akademija Board</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

    <ul class="navbar-nav ml-auto ml-md-0">
        <% if (user.accountType === 2) { %>
            <li class="nav-item dropdown no-arrow mx-2 mt-1"><span class="badge badge-pill badge-danger" style="padding: 9px">Administrator</span></li>
        <% } %> 
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.firstName %> <%= user.lastName[0] %>.
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/users/profile"><i class="fas fa-user"></i> Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
          </div>
        </li>
      </ul>
  </nav>