<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <% include partials/messages %>

              <% if (presence.length > 0) { %>
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2">Presence list:</h1>
                  </div>
    
                  <div class="table-responsive">
                    <table class="table table-striped table-sm text-center">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Year</th>
                          <th>Date generated</th>
                          <th>Number of attending students</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% presence.forEach((p) => { %>
                          <tr>
                            <td><%= p.name %></td>
                            <td><%= p.year %></td>
                            <td><%= p.dateCreated.toString().split(' ').slice(1, 4).join(' ') %></td>
                            <td><%= p.studentsAttending.length %></td>
                            <td><a href="#" class="btn-sm btn-warning" data-toggle="modal" data-target="#viewAttendingStudents<%= p.id %>">View</a></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  
                  <% presence.forEach((p) => { %>
                    <div class="modal fade" id="viewAttendingStudents<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="viewAttendingStudentsLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 97%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="viewAttendingStudentsLabel">Presence of students in a classroom: <%= p.name %> <%= p.year %> for date: <%= p.dateCreated.toString().split(' ').slice(1, 4).join(' ')  %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                  <div class="table-responsive">
                                        <table class="table table-striped table-sm text-center">
                                          <thead>
                                            <tr>
                                              <th>Name</th>
                                              <th>Present?</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                              <% p.students.forEach((student) => { %>
                                                <tr>
                                                  <td>
                                                    <%= student.firstName %> <%= student.lastName %>
                                                  </td>
                                                  <td>
                                                      <div class="checkbox">
                                                        <input name="presence" type="checkbox" value="<%= student._id %>" 
                                                        <% if (p.studentsAttending.indexOf(student._id) !== -1) { %>
                                                          checked
                                                        <% } %>
                                                        disabled
                                                        >
                                                      </div>
                                                  </td>
                                                </tr>
                                              <% })%>
                                          </tbody>
                                          </table>
                                  </div>
                            </div>
                        </div>
                    </div>  
                  </div>
                  <% }) %>
              <% } %>

          </main>
        </div>
      </div>