<% include partials/top_header %>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              <span data-feather="file-text"></span>
              <i class="fas fa-home"></i> Home
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/students/insert">
                <span data-feather="file-text"></span>
                <i class="fas fa-users"></i> New Student
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/insert/class">
              <span data-feather="file-text"></span>
              <i class="fas fa-university"></i> New Class
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/attendance">
              <span data-feather="file-text"></span>
              <i class="fas fa-calendar-alt"></i> Attendance of Students
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/attendance/history">
              <span data-feather="file-text"></span>
              <i class="fas fa-history"></i> Attendance History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/payments">
              <span data-feather="file-text"></span>
              <i class="fas fa-money-check"></i> Payments
            </a>
          </li>
        </ul>
      </div>
    </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <!--
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Something</h1>
        </div>
        -->

        <div class="row">
          <div class="col-md-12 mt-3">
            <% include partials/messages %>
          </div>
          <div class="col-xl-3 col-md-6 mb-4 mt-3 text-center">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Students</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= totalStudents %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4 mt-3 text-center">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Females</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= femaleStudents %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-female fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4 mt-3 text-center">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Males</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= maleStudents %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-male fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4 mt-3 text-center">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (This Month)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= currentTotalPayments %> BAM</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Payments per month for year <%= new Date().getFullYear() %></h1>
        </div>

        <canvas id="line-chart" width="800" height="250"></canvas>

        <script>
          const getData = async () => {
            const url = await fetch('http://localhost:5000/earnings');
            const payments = await url.json();
            return payments;
          };

          getData().then((payments) => {
              // Object holding total payments for each month for current year
              const totalPayments = {
                'Jan': 0,
                'Feb': 0,
                'Mar': 0,
                'Apr': 0,
                'May': 0,
                'Jun': 0,
                'Jul': 0,
                'Aug': 0,
                'Sep': 0,
                'Oct': 0,
                'Nov': 0,
                'Dec': 0
              };

              // Calculate earnings only if the date from payment is equal to current year
              for (let i = 0; i < payments.length; ++i) {
                // Since date returned is of type string, create new date object so we can manipulate easily
                // parts of a date
                const datePaid = (new Date(payments[i].datePaid)).toString().split(' ');
                
                // Third value in array is year and if it equals to current year take amount from payment
                if (Number(datePaid[3]) === (new Date()).getFullYear()) {
                  totalPayments[datePaid[1]] += payments[i].amount;
                }
              }

              const options = {
              type: 'line',
              data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [
                  {
                    data: Object.values(totalPayments),
                    borderColor: '#36a2eb',
                    backgroundColor: 'transparent'
                  }
                ]
              },
              options: {
                legend: {
                  display: false
                }
              }
            };

            const ctx = document.getElementById('line-chart').getContext('2d');
            const lineChart = new Chart(ctx, options);
          });
        </script>
      </main>
    </div>
  </div>