<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Add Payment</h1>
            </div>

            <% include partials/messages %>

            <% if (typeof alerts != 'undefined') { %>
              <% alerts.forEach((alert) => { %>
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                      <strong><i class="fas fa-exclamation-triangle"></i></strong> <%- alert.msg %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              <% }) %>
            <% } %>

            <form class="mb-4">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" onkeyup="showData()">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" id="lastName" name="lastName" onkeyup="showData()">
                  </div>
                </div>
              </form>
              
              <div class="table-responsive" id="queryData">
                
              </div>

              <script>
                  function showData() {
                    const firstName = document.getElementById('firstName').value;
                    const lastName = document.getElementById('lastName').value;

                    const insertInformation = document.getElementById('queryData');
                    insertInformation.innerHTML = '';

                    $.ajax({
                      type: 'GET',
                      url: 'http://localhost:5000/students/payments/search?firstName=' + firstName + '&lastName=' + lastName,
                      dataType: 'json'
                    }).done((data) => {
                      // If there is no students clear table
                      if (data.length === 0) {
                        insertInformation.innerHTML = '';
                      } else {
                        // Output table rows with students
                        let students = '';
                        data.forEach((student) => {
                          const dateBirth = (new Date(student.birthDate)).toString().split(' ').slice(1, 4).join(' ');

                          students += `
                            <tr>
                              <td>${student.firstName} ${student.lastName}</td>
                              <td>${dateBirth}</td>
                              <td>${student.gender}</td>
                              <td>${student.firstParentFName} ${student.firstParentLName}</td>
                              <td>${student.secondParentFName} ${student.secondParentLName}</td>
                              <td>${student.firstParentMobilePhoneNumber}</td>
                              <td>${student.secondParentMobilePhoneNumber}</td>
                              <td>${student.address}</td>
                              <td>${student.city}</td>
                              <td><a href="#" data-toggle="modal" data-target="#viewStudentPayment${student._id}" class="btn-sm btn-success">Confirm</a></td>
                            </tr>
                          `;
                        });

                        insertInformation.innerHTML = `
                        <table class="table table-striped table-sm text-center">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Birth</th>
                              <th>Gender</th>
                              <th>First Parent</th>
                              <th>Second Parent</th>
                              <th>#1 Phone</th>
                              <th>#2 Phone</th>
                              <th>Address</th>
                              <th>City</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            ${students}
                          </tbody>
                        `;

                        // Based on list of students create modals for confirming payments
                        let modals = '';
                        data.forEach((student) => {
                          modals += `
                          <div class="modal fade" id="viewStudentPayment${student._id}" tabindex="-1" role="dialog" aria-labelledby="viewStudentPayment" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 85%" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="viewStudentPaymentLabel">Payment for student: ${student.firstName} ${student.lastName}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form class="mb-4" action="payments/save" method="POST">
                                    <div class="form-group">
                                      <label for="newStudentpayment">Amount</label>
                    
                                      <input type="number" class="form-control" name="newStudentPaymentAmount" step="0.01">
                                      <input name="newStudentIDPayment" type="text" value="${student._id}" style="display: none">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                  </form>

                                  <h5 class="modal-title">List of payments (if any) for month: ${(new Date()).toString().split(' ').slice(1, 2).join(' ')}</h5>
                                  
                                  <table class="table table-striped table-sm text-center mt-2">
                                    <thead>
                                      <tr>
                                        <th>Date Paid</th>
                                        <th>Amount</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      ${student.payments.map(payment =>
                                        `
                                          <tr>
                                            <td>${payment.datePaid}</td>
                                            <td>${payment.amount}</td>
                                          <tr>
                                        `
                                      )}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          `;
                        });

                        insertInformation.innerHTML += modals;
                      }
                    }).fail((jqXHR, textStatus, err) => {
                      insertInformation.innerHTML = '';
                    });
                  }
              </script>

          </main>
        </div>
      </div>