<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Add Student</h1>
            </div>

            <% include partials/messages %>

            <% if (classes.length == 0) { %>
              <div class="alert alert-warning" role="alert">
                  Currently there are no classes. Once you insert at least one class add button will appear.
              </div>
            <% } %>

            <form class="mb-4" action="/students/insert" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="newStudentFirstName">First Name</label>
                    <input type="text" class="form-control" name="newStudentFirstName" value="<%= typeof newStudentFirstName != 'undefined' ? newStudentFirstName : '' %>">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="newStudentLastName">Last Name</label>
                      <input type="text" class="form-control" name="newStudentLastName" value="<%= typeof newStudentLastName != 'undefined' ? newStudentLastName : '' %>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="newStudentBirthDate">Birth Date</label>
                  <input type="date" class="form-control" name="newStudentBirthDate" value="<%= typeof newStudentBirthDate != 'undefined' ? newStudentBirthDate : '' %>">
                </div>

                <label for="newStudentGender">Gender</label>
                <select class="form-control" name="newStudentGender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Parent Information</h1>
                </div>

                <h4>First Parent</h4>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="newStudentFParentFirstName">First Name</label>
                      <input type="text" class="form-control" name="newStudentFParentFirstName" value="<%= typeof newStudentFParentFirstName != 'undefined' ? newStudentFParentFirstName : '' %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newStudentFParentLastName">Last Name</label>
                        <input type="text" class="form-control" name="newStudentFParentLastName" value="<%= typeof newStudentFParentLastName != 'undefined' ? newStudentFParentLastName : '' %>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="newStudentFPMobilePhoneNumber">Mobile Phone Number</label>
                    <input type="text" class="form-control" name="newStudentFPMobilePhoneNumber" value="<%= typeof newStudentFPMobilePhoneNumber != 'undefined' ? newStudentFPMobilePhoneNumber : '' %>">
                    <small class="form-text text-muted">Please provide phone number in format +387 00 000 000</small>
                </div>
  
                <h4>Second Parent</h4>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="newStudentSParentFirstName">First Name</label>
                      <input type="text" class="form-control" name="newStudentSParentFirstName" value="<%= typeof newStudentSParentFirstName != 'undefined' ? newStudentSParentFirstName : '' %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newStudentSParentLastName">Last Name</label>
                        <input type="text" class="form-control" name="newStudentSParentLastName" value="<%= typeof newStudentSParentLastName != 'undefined' ? newStudentSParentLastName : ''%>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="newStudentSPMobilePhoneNumber">Mobile Phone Number</label>
                    <input type="text" class="form-control" name="newStudentSPMobilePhoneNumber" value="<%= typeof newStudentSPMobilePhoneNumber != 'undefined' ? newStudentSPMobilePhoneNumber : '' %>">
                    <small class="form-text text-muted">Please provide phone number in format +387 00 000 000</small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newStudentAddress">Address</label>
                        <input type="text" class="form-control" name="newStudentAddress" value="<%= typeof newStudentAddress != 'undefined' ? newStudentAddress : '' %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newStudentCity">City</label>
                        <input type="text" class="form-control" name="newStudentCity" value="<%= typeof newStudentAddress != 'undefined' ? newStudentAddress : '' %>">
                    </div>
                </div>

                <% if (classes.length != 0) { %>
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">STEM Class</h1>
                  </div>

                  <select class="form-control" name="newStudentClass">
                      <% classes.forEach((cls) => { %>
                        <option value="<%= cls.name %>"><%= cls.name %></option>
                      <% }) %>
                  </select>

                  <button type="submit" class="btn btn-primary mt-3">Add</button>
                <% } %>
              </form>   
          </main>
        </div>
      </div>