<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
            <h1 class="h2 mt-4">Add Students to classroom</h1>

            <% include partials/messages %>

            <% if (classes.length == 0) { %>
                <div class="alert alert-warning" role="alert">
                    Currently there are no classes. Once you insert at least one classroom move button will appear.
                </div>
            <% } %>

            <div class="table-responsive">
                <table class="table table-striped table-sm text-center">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>First Parent</th>
                      <th>#1 Phone</th>
                      <th>Classroom</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% students.forEach((student) => { %>
                        <tr>
                            <td><%= student.firstName %> <%= student.lastName %></td>
                            <td><%= student.gender %></td>
                            <td><%= student.firstParentFName %> <%= student.firstParentLName %></td>
                            <td><%= student.firstParentMobilePhoneNumber %></td>
                            <% if (classes.length != 0) { %>
                                <td>
                                <select class="form-control form-control-sm text-center" id="studentMove<%= student._id %>" name="studentMove<%= student._id %>">
                                    <% classes.forEach((cls) => { %>
                                        <option value="<%= cls._id %>"><%= cls.name %></option>
                                    <% }) %>
                                </select>
                                </td>
                                <td><a class="btn-sm btn-warning" id="btnstudentMove<%= student._id %>" href="/students/move?id=<%= student._id %>&classroom=<%= classes[0]._id %>">Move</a></td>
                            <%} %>
                        </tr>
                    <% }) %>
                  </tbody> 
                </table>

                <script>
                    let changeURL = (event) => {
                        const stemClass = event.srcElement.value;
                        const url = document.getElementById('btn'+event.srcElement.id);
                        url.href = url.href.split('&')[0] + '&classroom=' + stemClass;
                    };

                    Array(...document.getElementsByTagName('select')).forEach((element) => { 
                        document.getElementById(element.id).addEventListener('change', changeURL, false);
                    });        
                </script>
            </div>
          </main>
        </div>
      </div>