<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Add Class</h1>
            </div>

            <% include partials/messages %>

            <% if (typeof alerts != 'undefined') { %>
              <% alerts.forEach((alert) => { %>
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                      <strong><i class="fas fa-exclamation-triangle"></i></strong> <%- alert.msg %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              <% }) %>
            <% } %>

            <form class="mb-4" action="/students/insert/class" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="newClassName">Class Name</label>
                    <input type="text" class="form-control" name="newClassName" placeholder="Class Name">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="newClassYear">Year</label>
                      <input type="text" class="form-control" name="newClassYear" value="<%= currentYear %>" disabled>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
              </form>
              
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                  <h1 class="h2">List of current classes</h1>
              </div>

              <% if (classes.length > 0) { %>
                <div class="table-responsive">
                    <table class="table table-striped table-sm text-center">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Year</th>
                          <th>Number of students</th>
                          <th>Date Created</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                <% classes.forEach((cls) => { %>
                          <tr>
                            <td><%= cls.name %></td>
                            <td><%= cls.year %></td>
                            <td><%= cls.students.length %></td>
                            <td><%= cls.generatedOn.toString().split(' ').slice(1, 4).join(' ') %></td>
                            <td><a href="#" class="btn-sm btn-warning" data-toggle="modal" data-target="#viewStudents<%= cls._id %>">View</a> <a href="/students/class/remove/?id=<%= cls._id %>" class="btn-sm btn-danger">Delete</a></td>
                          </tr>
                <% }) %>
                  </tbody>
                </table>
              </div>
                <!-- Modal for classes -->
                <% classes.forEach((cls) => { %>
                <div class="modal fade" id="viewStudents<%= cls._id %>" tabindex="-1" role="dialog" aria-labelledby="viewStudentsLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 97%" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="viewStudentsLabel">List of students in class: <%= cls.name %> <%= cls.year %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <% if (cls.students.length > 0) { %>
                            <div class="table-responsive">
                                <table class="table table-striped table-sm text-center">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Birth</th>
                                      <th>Gender</th>
                                      <th>First Parent</th>
                                      <th>Second Parent</th>
                                      <th>#1 Phone</th>
                                      <th>#2 Phone</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>Registered</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% cls.students.forEach((student) => { %>
                                      <tr>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" type="button" id="dropdownMenu<%= students[student._id]._id %>" data-toggle="dropdown">
                                                    <%= students[student._id].firstName %> <%= students[student._id].lastName %>
                                                  <span class="caret"></span>
                                                </a>
                                            
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu<%= students[student._id]._id %>">
                                                    <li><a class="dropdown-item" href="/students/remove?id=<%= students[student._id]._id %>">Remove from class</a></li>
                                                    <li><a class="dropdown-item" href="#">Delete student</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><%= students[student._id].birthDate.toString().split(' ').slice(1, 4).join(' ') %></td>
                                        <td><%= students[student._id].gender %></td>
                                        <td><%= students[student._id].firstParentFName %> <%= students[student._id].firstParentLName %></td>
                                        <td><%= students[student._id].secondParentFName %> <%= students[student._id].secondParentLName %></td>
                                        <td><%= students[student._id].firstParentMobilePhoneNumber %></td>
                                        <td><%= students[student._id].secondParentMobilePhoneNumber %></td>
                                        <td><%= students[student._id].address %></td>
                                        <td><%= students[student._id].city %></td>
                                        <td><%= students[student._id].registeredOn.toString().split(' ').slice(1, 4).join(' ') %></td>
                                      </tr>
                                    <% }) %>
                                  </tbody>
                                  </table>
                            </div>
                          <% } else { %>
                            <div class="alert alert-warning" role="alert">
                                Currently there are no students in this class.
                            </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                </div>
                <% }) %>
              <% } else { %>
                <div class="alert alert-warning" role="alert">
                    Currently there are no classes!
                </div>
              <% } %>
          </main>
        </div>
      </div>