<% include partials/top_header %>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="file-text"></span>
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-users"></i> New Student
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/insert/class">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-university"></i> New Class
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/students/attendance">
                <span data-feather="file-text"></span>
                <i class="fas fa-calendar-alt"></i> Attendance of Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/attendance/history">
                <span data-feather="file-text"></span>
                <i class="fas fa-history"></i> Attendance History
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/payments">
                <span data-feather="file-text"></span>
                <i class="fas fa-money-check"></i> Payments
              </a>
            </li>
          </ul>
        </div>
      </nav>
           
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Generate Attendance</h1>
            </div>

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong><i class="fas fa-exclamation-triangle"></i></strong> Showing (if any) generated attendance links for <%= currentDate %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% include partials/messages %>

            <% if (classroomsLength === 0) { %>
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong><i class="fas fa-exclamation-triangle"></i></strong> There are no classrooms. Please add at least one to generate student attendance record.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } else if (studentsLength === 0) { %>
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong><i class="fas fa-exclamation-triangle"></i></strong> There are no students. Please add them in order to generate student attendance.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } else { %>
              <% if (attendanceClassrooms.length > 0) { %>
                <form class="mb-4" action="attendance/insert" method="POST">
                  <div class="form-group">
                    <label for="newAttendanceClassroom">Classroom</label>
  
                    <select class="form-control" name="newAttendanceClassroom">
                      <% attendanceClassrooms.forEach((classroom) => { %>
                        <option value="<%= classroom.id %>"><%= classroom.name %></option>
                      <% }) %>
                    </select>
                  </div>
                <button type="submit" class="btn btn-primary">Generate</button>
              </form>
              <% } else { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><i class="fas fa-exclamation-triangle"></i></strong> Attendace tables for all classrooms on date <%= currentDate %> are generated!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              <% } %>

              <% if (presence.length > 0) { %>
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2">Presence list:</h1>
                  </div>
    
                  <div class="table-responsive">
                    <table class="table table-striped table-sm text-center">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Year</th>
                          <th>Number of attending students</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% presence.forEach((p) => { %>
                          <tr>
                            <td><%= p.name %></td>
                            <td><%= p.year %></td>
                            <td><%= p.studentsAttending.length %></td>
                            <td><a href="#" class="btn-sm btn-warning" data-toggle="modal" data-target="#viewAttendingStudents<%= p.id %>">View</a></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  
                  <% presence.forEach((p) => { %>
                    <div class="modal fade" id="viewAttendingStudents<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="viewAttendingStudentsLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 97%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="viewAttendingStudentsLabel">Presence of students in a classroom: <%= p.name %> <%= p.year %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                  <div class="table-responsive">
                                      <form method="POST" action="">
                                        <table class="table table-striped table-sm text-center">
                                          <thead>
                                            <tr>
                                              <th>Name</th>
                                              <th>Present?</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                              <% p.students.forEach((student) => { %>
                                                <tr>
                                                  <td>
                                                    <%= student.firstName %> <%= student.lastName %>
                                                  </td>
                                                  <td>
                                                      <div class="checkbox">
                                                        <input name="presence" type="checkbox" value="<%= student._id %>" 
                                                        <% if (p.studentsAttending.indexOf(student._id) !== -1) { %>
                                                          checked
                                                        <% } %>
                                                        >
                                                      </div>
                                                  </td>
                                                </tr>
                                              <% })%>
                                          </tbody>
                                          </table>

                                          <input type="submit" class="btn input-block-level form-control btn-primary" value="Save">
                                          <input name="presence" type="checkbox" value="<%= p.students[0]._id %>dummy" style="display: none" checked>
                                        </form>
                                  </div>
                            </div>
                        </div>
                    </div>  
                  </div>
                  <% }) %>
              <% } %>
            <% } %>

          </main>
        </div>
      </div>