<div class="container">
    <form class="form-signin" action="/users/login" method="POST">
        <img class="mb-4" src="http://stem-akademija.ba/wp-content/uploads/2017/03/stem_logo_natpis_boje-2.png" alt="STEM Akademija logo">
        
        <% include partials/messages %>
        
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017 - <%= currentYear %></p>
    </form>
</div>